<!DOCTYPE html>
<html lang="ko">
<head>
	<title>Clothes</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script type="text/javascript">
$(function(){
  $('.class_btn').click(function(){
    $('#class_table').show();
  });
});
$(function(){
  $('.search_btn').click(function(){
    $('#search_table').show();
  });
});
</script>
<script type="text/javascript">
	function previewImage(targetObj, view_area) {
	var preview = document.getElementById(view_area); //div id
	var ua = window.navigator.userAgent;

	var files = targetObj.files;
	for ( var i = 0; i < files.length; i++) {
		var file = files[i];
		var imageType = /image.*/; //이미지 파일일경우만.. 뿌려준다.
		if (!file.type.match(imageType))
			continue;
		var prevImg = document.getElementById("prev_" + view_area); //이전에 미리보기가 있다면 삭제
		if (prevImg) {
			preview.removeChild(prevImg);
		}
		var img = document.createElement("img"); 
		img.id = "prev_" + view_area;
		img.classList.add("obj");
		img.file = file;
		img.style.width = '700px'; 
		img.style.height = '400px';
		preview.appendChild(img);
		if (window.FileReader) { // FireFox, Chrome, Opera 확인.
			var reader = new FileReader();
			reader.onloadend = (function(aImg) {
				return function(e) {
					aImg.src = e.target.result;
				};
			})(img);
			reader.readAsDataURL(file);
		} else { // safari is not supported FileReader
			//alert('not supported FileReader');
			if (!document.getElementById("sfr_preview_error_"
					+ view_area)) {
				var info = document.createElement("p");
				info.id = "sfr_preview_error_" + view_area;
				info.innerHTML = "not supported FileReader";
				preview.insertBefore(info, null);
			}
		}
	}
}
</script>
<style type="text/css">
	body{
		font-family: Objective,sans-serif;
	}
	header{
		width:100%;
		position: static;
	}
	.navbar{
		opacity: 0.8;
	}

	.sub-div{
		padding-top: 100px;
	}

	/*Reference Images*/
	.collars_img{
		width: 60%; 
		height: auto;
	}
	.collars_img:hover{opacity: 0.5; cursor: pointer;}
	.collars_img:onclick{opacity: 0.5; cursor: pointer;}
	input[type="radio"]{
		width: 25px; 
		height: 25px;
	}

	.pattern_img{
		width: 60%; 
		height: auto;
	}
	.pattern_img:hover{opacity: 0.5; cursor: pointer;}
	.pattern_img:onclick{opacity: 0.5; cursor: pointer;}
	input[type="radio"]{
		width: 25px; 
		height: 25px;
	}

	.result_img{
		width: 90%; 
		height: auto;
	}

	.refer_table{
		text-align: center;
	}

	.result_table{
		/*display: none;*/
		text-align: center;
	}

	.main_title{
		color: #8C1DF3;
	}

</style>
<body>
	<!-- 상단 카테고리 -->
	<header>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
		  	<h2 style="color: #8C1DF3; margin-top: 10px;">Shirts Classification with CNN</h2>
		  	<h4 style="color: #8C1DF3; margin-top: 10px; margin-left: auto;">Duksung AI Lab</h4>
		</nav>
	</header>

	<center>
		<div class="sub-div">
		<form method="POST">
			<h1 align="center" class="main_title">Select Component Types</h1>
			<br><br><br>

			<!-- Reference Image 라디오 버튼 선택 -->
			<h2 style="color: #353535">collars type</h2><br>
			<table class="refer_table">
				<tr>
					<td><img class="collars_img" src="{{ url_for('static', filename='images/collars_img/band1.png') }}"></td>
					<td><img class="collars_img" src="{{ url_for('static', filename='images/collars_img/straight.png') }}"></td>
					<td><img class="collars_img" src="{{ url_for('static', filename='images/collars_img/notched.png') }}"></td>
					<td><img class="collars_img" src="{{ url_for('static', filename='images/collars_img/button down.png') }}"></td>
				</tr>
				<tr>
					<td><input type="radio" name="collars" value="Band"></td>
					<td><input type="radio" name="collars" value="Straight"></td>
					<td><input type="radio" name="collars" value="Notched"></td>
					<td><input type="radio" name="collars" value="ButtonDown"></td>
				</tr>
			</table>

			<table class="refer_table">
				<tr>
					<td><img class="pattern_img" src="{{ url_for('static', filename='images/pattern_img/solid.jpg') }}"></td>
					<td><img class="pattern_img" src="{{ url_for('static', filename='images/pattern_img/check.jpg') }}"></td>
					<td><img class="pattern_img" src="{{ url_for('static', filename='images/pattern_img/dot.jpg') }}"></td>
					<td><img class="pattern_img" src="{{ url_for('static', filename='images/pattern_img/floral.jpg') }}"></td>
					<td><img class="pattern_img" src="{{ url_for('static', filename='images/pattern_img/stripe.jpg') }}"></td>
				</tr>
				<tr>
					<td><input type="radio" name="pattern" value="solid"></td>
					<td><input type="radio" name="pattern" value="check"></td>
					<td><input type="radio" name="pattern" value="dot"></td>
					<td><input type="radio" name="pattern" value="floral"></td>
					<td><input type="radio" name="pattern" value="stripe"></td>
				</tr>
			</table>

			<br><br><br>
			<input type="submit" value="확인" class="class_btn" name="classform" formmethod="POST" />

			<!-- 분류 결과 이미지 출력 -->
			<br><br><br><br>
		{% if class_res %}
 	 	<table class="result_table" id="class_table">
 	 		{% for i in range(2) %}
			<tr>
				{% for j in range(5) %}
				<td><img class="result_img" src="{{ url_for('static', filename=class_res[i*5+j]) }}"></td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
    {% endif %}
		</form>
		</div>
		<br><br><br><br><br><br>

		<!-- Target Image 사용자 업로드 -->
		<div class="sub-div" style="background-color: #ebebeb;">
		<form method="POST" enctype="multipart/form-data">
			<h1 align="center" class="main_title">Search Your Image</h1><br><br>
			<input type="file" name="user_img" id="user_img" value="userImage" accept="image/jpeg,.jpg,.png" onchange="previewImage(this,'view_area')" required/>
			<input type="submit" value="확인" class="search_btn" name="searchform" formmethod="POST" /><br><br>
			<div align="center" id='view_area'></div><br><br>

    {% if search_res %}
 	 	<table class="result_table" id="search_table">
 	 		{% for i in range(2) %}
			<tr>
				{% for j in range(5) %}
				<td><img class="result_img" src="{{ url_for('static', filename=search_res[i*5+j]) }}"></td>
				{% endfor %}
			</tr>
			{% endfor %}
		</table>
    {% endif %}
			
			<br><br><br><br><br><br><br><br><br>
		</form>
		</div>
	</center>
</body>
</html> 